<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/">Home</a></li>
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/jobDetail">ESP Jobs</a></li>
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/applicationDetail">Application</a></li>
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/jobHistory">Job History</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
