<h4>Job detail search screen</h4>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="txtJobName" class="col-xs-3 col-form-label">Job Name :</label>
            <div class="col-xs-5">
                <input type="text" id="txtJobName" class="form-control" [(ngModel)]="jobName">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary" (click)="searchJobDetail()">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>