<h4>ESP Job execution History</h4>
<div class="formStyle">
    <div class="row col-xs-2">
        <label for="txtESPJobname" class="col-form-label">Enter ESP Reference</label>
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" id="txtESPJobName">
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary">Job History Search</button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary">Job Current Status</button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary">Go To ESP Job</button>
    </div>
</div>
